body {
  background-image: url(images/sky-red.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #ffe700;
}
.app-container {
  background: linear-gradient(
    112.5deg,
    rgb(95, 10, 135) 11.4%,
    rgb(164, 80, 139) 60.2%
  );
  color: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 40px 60px rgba(65, 50, 100, 0.1);
  border-radius: 16px;
}
header {
  border-bottom: 1px solid #f7d5a6;
  padding: 0 0 15px 0;
}
.search-form {
  display: flex;
  gap: 10px;
}
.search-form-input {
  flex: 1;
  background: #f7d5a6;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 1rem;
}
.search-form-button {
  background: #fdb44b;
  color: #4a1446;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 1rem;
  white-space: nowrap;
}
.search-form-button:hover {
  cursor: pointer;
}
main {
  padding: 20px;
}
.weather-app-data {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.weather-app-city {
  margin-top: 15px;
  font-size: 38px;
  font-weight: normal;
  color: #fdb44b;
  line-height: 48px;
}
.weather-city-details {
  font-size: 16px;
  color: antiquewhite;
  line-height: 24px;
  font-weight: 500;
}
.description {
  font-size: 16px;
  color: antiquewhite;
  line-height: 30px;
  font-weight: 500;
}
.description strong {
  color: #fdb44b;
}
.emoji {
  font-size: 88px;
}
.weather-temp-details {
  display: flex;
}
.temp-value {
  font-size: 88px;
}
.temp-unit {
  font-size: 16px;
  margin-top: 15px;
}
footer {
  border-top: 1px solid #f7d5a6;
  padding: 15px 0 0 0;
  text-align: center;
  font-size: 15px;
}
