body {
  background-color: #e0f2f1;
  font-family: "Roboto", sans-serif;
}
.app-container {
  background: linear-gradient(
    to bottom,
    rgb(95, 209, 249) 0%,
    rgb(85, 88, 218) 100%
  );
  color: beige;
  max-width: 700px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 40px 60px rgba(65, 50, 100, 0.1);
  border-radius: 16px;
}
